@font-face {
  font-family: "iconfont"; /* Project id 4116457 */
  src: url('iconfont.woff2?t=1696564773584') format('woff2'),
       url('iconfont.woff?t=1696564773584') format('woff'),
       url('iconfont.ttf?t=1696564773584') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gerenxinxi:before {
  content: "\e605";
}

.icon-tuichu:before {
  content: "\e69f";
}

.icon-chongwu1:before {
  content: "\f922";
}

.icon-a-xiugai2:before {
  content: "\e62e";
}

.icon-shezhi:before {
  content: "\e610";
}

.icon-guanliyuan:before {
  content: "\e601";
}

.icon-guanyu:before {
  content: "\e659";
}

.icon-xihuan:before {
  content: "\ff47";
}

.icon-pinglun:before {
  content: "\1007b";
}

.icon-wechat:before {
  content: "\e600";
}

.icon-fenxiang:before {
  content: "\e638";
}

.icon-icon-yichang:before {
  content: "\e68c";
}

.icon-zhuye:before {
  content: "\e60c";
}

.icon-shujutiaokong:before {
  content: "\e708";
}

.icon-haoyou:before {
  content: "\e618";
}

.icon-shouye:before {
  content: "\e674";
}

.icon-fabu:before {
  content: "\e761";
}

.icon-AnimalHospital:before {
  content: "\e9e6";
}

.icon-jindu:before {
  content: "\e6a4";
}

.icon-xiangmu:before {
  content: "\e6aa";
}

.icon-rizhijilu:before {
  content: "\e6c2";
}

.icon-pengyouquan:before {
  content: "\e667";
}

.icon-follower:before {
  content: "\e665";
}

.icon-follow:before {
  content: "\e666";
}

.icon-chongwu:before {
  content: "\e6d7";
}

.icon-dingyue:before {
  content: "\f42f";
}

.icon-gengduo:before {
  content: "\e630";
}

.icon-PetAdvice:before {
  content: "\e9e0";
}

.icon-Vaccine:before {
  content: "\e9e3";
}

.icon-FirstAid:before {
  content: "\e9e9";
}

.icon-DentalCleaning:before {
  content: "\e9ea";
}

.icon-gonggong-zuojiantou:before {
  content: "\e64d";
}

.icon-gonggong-youjiantou:before {
  content: "\e64f";
}

.icon-a-zuofanhuihoutui:before {
  content: "\e6b0";
}

.icon-dianya:before {
  content: "\e60f";
}

.icon-Disk2:before {
  content: "\e617";
}

.icon-wendu:before {
  content: "\e66c";
}

.icon-CPU:before {
  content: "\e629";
}

.icon-neicun-RAM:before {
  content: "\e69e";
}

.icon-jiankong:before {
  content: "\e6b2";
}

.icon-tongji:before {
  content: "\e6bd";
}

.icon-huiyuanluru:before {
  content: "\e6c0";
}

.icon-jiahaoyou:before {
  content: "\e656";
}

.icon-Dog:before {
  content: "\e9e8";
}

.icon-Cat:before {
  content: "\e9e7";
}

