@font-face {
  font-family: "iconfont"; /* Project id 4116457 */
  src: url('iconfont.woff2?t=1691311117940') format('woff2'),
       url('iconfont.woff?t=1691311117940') format('woff'),
       url('iconfont.ttf?t=1691311117940') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gengduo:before {
  content: "\e630";
}

.icon-PetAdvice:before {
  content: "\e9e0";
}

.icon-Vaccine:before {
  content: "\e9e3";
}

.icon-FirstAid:before {
  content: "\e9e9";
}

.icon-DentalCleaning:before {
  content: "\e9ea";
}

.icon-gonggong-zuojiantou:before {
  content: "\e64d";
}

.icon-gonggong-youjiantou:before {
  content: "\e64f";
}

.icon-a-zuofanhuihoutui:before {
  content: "\e6b0";
}

.icon-dianya:before {
  content: "\e60f";
}

.icon-Disk2:before {
  content: "\e617";
}

.icon-wendu:before {
  content: "\e66c";
}

.icon-CPU:before {
  content: "\e629";
}

.icon-neicun-RAM:before {
  content: "\e69e";
}

.icon-jiankong:before {
  content: "\e6b2";
}

.icon-tongji:before {
  content: "\e6bd";
}

.icon-huiyuanluru:before {
  content: "\e6c0";
}

.icon-jiahaoyou:before {
  content: "\e656";
}

.icon-Dog:before {
  content: "\e9e8";
}

.icon-Cat:before {
  content: "\e9e7";
}

