@width:1200px;
@height:1000px;
.dashboard-page {
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: lightcyan;
  .dashboard-container {
    height: @height;
    width: @width;
    .page-bar {
      display: flex;
      > div {
        border-radius: 10px;
        height: 300px;
        width: 300px;
        box-sizing: border-box;
        padding: 10px;
        .enhanced-button{
          &:hover {
            filter: brightness(80%);
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
            transition: background 0.3s ease, box-shadow 0.3s ease;
          }
          background-color: white;
          box-sizing: border-box;
          border-radius: 20px;
          height: 220px;
          width: 220px;
          padding: 40px;
          .button-logo{
            margin-bottom: 40px;
          }
          .button-label{
            color: #333333;
            font-family: Arial, sans-serif;
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 10px;
          }
        }
        .active{
          background: dodgerblue;
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
          transition: background 0.3s ease, box-shadow 0.3s ease;
          .button-label{
            color: white;
          }
          color: white;
        }
      }
    }
    .child-page{
      .statistics{
        .first-row{
          display: flex;
          justify-content: space-between;
          width: @width;
        }
        .second-row{
          display: flex;
          justify-content: space-between;
          width: @width;
        }
      }
      .server{
        display: flex;
         justify-content: space-around;
        .label{
          font-size: 20px;
          font-family: Arial, serif;
          color: #4B535E;
          font-weight: bold;
        }
        .left{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 520px;
          width: 200px;
        }
        .right{
          display: flex;
          flex-direction: column;
          align-items: center;
          .monitors{
            display: flex;
            justify-content: space-between;
            margin: 15px 0;
            width: 1000px;
            .gauge-loader{
              width: 450px;
              height: 300px;
              background-color: lightblue;
              border-radius: 20px;
              .title{
                font-size: 20px;
                padding: 10px;
                font-family: Arial, serif;
                color: #4B535E;
              }
            }
          }
          .switches{
             display: flex;
            margin-top: 10px;
            width: 1000px;
            justify-content: space-between;
          }
        }
        }


    }
  }
}


/*    >div{
      border-radius: 10px;
      height: 300px;
      width: 300px;
      background: lightblue;
      box-sizing: border-box;
      .enhanced-chart{
         font-size: 18px;
         color: lavenderblush;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }*/
