@width:1200px;
@height:1000px;
.profile-page{
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: lightblue;
  .profile-container{
    height: @height;
    width: @width;
    background-color: white;
    .pet-cards,.post-cards{
       display: flex;
        flex-direction: column;
      align-items: center;
       .label{
       }
       .card-list{
         display: flex;
          width: @width;
         justify-content: space-around;
         align-items: center;
         .visible-cards{
           width: 900px;
           height: 300px;
           overflow: hidden; /* 隐藏溢出内容 */
           .cards{
             display: flex;
           }
         }
          >button{
            width: 80px;
          }
       }
    }
  }

}

.friend-operation-dialog{
   display: flex;
   flex-direction: column;
   align-items: center;
  .nickname{
    font-size: 20px;
    color: darkgrey;
  }
}

